<!DOCTYPE HTML>
<html >
<head>
    <meta charset="utf-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <script src="app.css"></script>
    <style>
    
        body {
             padding: 45px 60px 75px 100px;
             background-color: lightblue;
          }
        
 .message { font-size: 1.3em; font-weight: bold; }
    </style>
    <title>Angular App</title>
</head>
<body ng-app="LunchCheck"> <!-- AngularJS hook -->
   <div class="container" 
        ng-controller="LunchCheckController">
     <h1>Lunch Checker</h1>

         <div class="form-group">
             <input id="lunch-menu" type="text"
             placeholder="list comma separated dishes you usually have for lunch"
             ng-model="inputData"
             class="form-control">        
         </div>
         <br>
         <div class="form-group">
             <button class="btn btn-default"

             ng-click="getFood();">Check If Too Much</button>
         </div>
         <div class="form-group message"
         no-model = "myMessage">
         		<!-- Your message can go here. -->
         		{{myMessage}}
         </div>
   </div>

</body>
</html>







